.blog_contaner {
  width: 100%;
  /* height: 90vh; */
  background-color: #F2F8FF;
}
.blog_maxwidth {
  max-width: 1200px;
  /* height: 90vh; */
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  /* background-color: aliceblue; */
}
.blog_maxwidth h5 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 22px;
  color: #004094;
}
.blog_maxwidth h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.blog_flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.card strong{
  color: #008d94;
}
.card_image {
  width: 269px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card {
  width: 310px;
  height: 450px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.card h3 {
  color: black;
  padding: 5px;
  border-radius: 5px;
  /* margin-top: 10px; */
  font-size: 18px;
  font-weight: 600;
}
.card p {
  color: #212529;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
}
.blog_date{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 5px;
}
.date_icon {
 font-size: 20px;
 color:rgb(124, 124, 124) ;
}
.blog_date i{
  font-weight: 500;
  color: rgb(124, 124, 124);
}