.bookall_contaner{
    width: 100%;
    /* height: 100vh; */
    background-color: #e6fdff;
}

.bookall_maxwidth{
     max-width: 1200px;
    /* height: 100vh; */
    margin: auto;
    /* background-color: rgb(255, 140, 0); */
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 40px; */
}
.form-control{
    width: 100%;
    margin: auto;
    border-color: #008d94;
    /* background-color: #0b555a; */
}
.form-control::placeholder{
    color: #008d94;
}

.book_flex{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.book_flex img{
    border-radius: 10px;
}
.bookall_category{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bookall_category button{
  background-color: #b7fbff;
  color: #008d94;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  border-radius: 5px;
  border: 1px solid #008d94;
  margin-top: 20px ;
}

