.contact_contaner {
  width: 100%;
  /* height: 100vh; */
  /* background-color: aqua; */
}
.contact_maxwidth {
  max-width: 1200px;
  margin: auto;
  /* height: 100vh; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
}

.contact-info {
  flex: 1;
  padding: 20px;
  background-color: #e6fdff;
  border-radius: 10px;
  max-width: 500px;
}

.contact-info h4 {
  color: #008d94;
  font-weight:600;
  margin-bottom: 10px;
}

.contact-info h2 {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: bolder;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 15px;
}

.icon-circle {
  background-color: #008d94;
  color: white;
  width: 45px;
  height: 45px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-item .label {
  font-weight: bold;
  color: #444;
  margin-bottom: 5px;
}

.contact-form {
  flex: 2;
  padding: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  gap: 15px;
}

.input-group input,
.input-group select {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f6f8ff;
  font-size: 14px;
}
.input-group input:focus,
.input-group select:focus {
  border: 1px solid #008d94;
  outline: none; /* optional for cleaner look */
}
.input-group input,
.input-group select {
  transition: border 0.3s ease;
}
.textareacolor:focus {
  border: 1px solid #008d94;
  outline: none; /* optional to remove blue glow */
}
textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f6f8ff;
  resize: vertical;
}

.btn5 {
  background: linear-gradient(90deg, #135299, #008d94);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 14px;
  width: 160px;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.3s;
}
.btn5:hover{
  color: white;
}

